.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    right: 30px;
    position: absolute;
}

.filters button:hover {
    opacity: 90%;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
}

.locations {
    border-right: #DDDDDD solid 1px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 5px;
}

h3 {
    font-weight: 600;
    position: relative;
    left: 20%;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    position: relative;
    left: 20%;
    bottom: 25%;
}

.popover {
    background-color: #FAFAFA;
    border: #DDDDDD solid 1px;
    border-radius: 4px;
    display: none;
    position: relative;
    width: 100%;
}

.locations:hover > .popover {
    display: block;
    width: 83.8%;
    bottom: 18.8px;
    padding: 15px 10px 35px 30px;
}

.locations > .popover > li > ul {
    padding-left: 25px;
    text-align: left;
}

.locations > .popover > li > ul > li {
    margin-bottom: 5px;
}

.amenities:hover > .popover {
    display: block;
    width: 83.8%;
    bottom: 18.8px;
    padding: 35px 10px 35px 30px;
}

.amenities > .popover > li {
    padding-left: 30px;
}

.amenities > .popover > li {
    margin-bottom: 8px;
}

ul {
    list-style-type: none;
}
